<form method="post" action="/next">
  <table>
    <tr><td><input type="text" placeholder=" ID" name="username"></td></tr>
    <tr><td><input type="password" placeholder=" Password" name="passw"></td></tr>
    <tr><td><input type="submit"></td></tr>
  </table>
</form>
